// Bootstrap SCSS import
@import '../../node_modules/bootstrap/scss/bootstrap';
//Colors
$navbar-Navlink-Color: #f8ede3;
$navbar-Hover-Color: #b6c7aa;
$navbar-Background-Color: #1b1a55;

//Layout
$layout-Background-Color: #070f2b;
//Left-Side
$welcome-text: #f7f7f8;
$animation-text: #a02334;
//Right-Side

//TerminalColours
$terminal-Background-Color: #1b1a55;
$terminal-Border-Size: 10px;
$terminal-Header-Color: #535c91;
$terminal-Button-Size: 15px;
$terminalClose: #e74c3c;
$terminal-Close-Border-Color: #c0392b;
$terminalMinimise: #f39c12;
$terminal-Minimise-Border-Color: #e67e22;
$terminalExpand: #2ecc71;
$terminal-Expand-Border-Color: #27ae60;
$terminalText: #5ebc64;
$terminal-Text-info-Color: #dddddd;
$terminalBar: #222;
$terminal-Bar-Accents-Color: #00bfff;
$terminal-Field-Color: #37b47e;
$terminal-Value-Color: #2796bf;
$terminal-Const-Color: #a12568;
$terminal-Coder-Color: #fec260;
$terminal-tmux-screen-Name-Background-Color: #443c68;
$terminal-Battery-Background-Color: #18122b;
$terminal-Bar-Backgorund-Color: #393053;
$termianl-Battery-Font-Color: #f6b17a;
$terminal-Screen-Name-Font-Color: #c8acd6;
$termianl-Bar-Font-Color: #c8acd6;
$primary-300: #3498db;

//Const
$tablet: 991.98px;
$mobile: 575.98px;

$response-colors: (
  'hello': #00ff00,
  // Yeşil
  'commands': #ffff00,
  // Sarı
  'echo': #ff00ff,
  // Mor
  'kill': #ff0000,
  // Kırmızı
  'facts': #00ffff,
  // Cyan
  'ls': #ff6600,
  // Turuncu
  'cat': #ffcc00,
  // Açık Sarı
  'git': #cc00cc,
  // Koyu Mor
  'ssh': #00ccff,
  // Açık Mavi
  'hacker': #ff3300,
  // Turuncu Kırmızı
  'info': #339900,
  // Yeşil
  'contact': #6600ff,
  //Mor
  '44': #4444ad,

  'error': #ff3333
    // Koyu Kırmızı,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
body {
  background-color: $layout-Background-Color;
}

// Custom Navbar Styles
.navbar-custom {
  background-color: $navbar-Background-Color;
  padding: 1.3rem 2rem;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: $navbar-Navlink-Color;
    transition: color 0.3s ease;

    &:hover {
      color: $navbar-Hover-Color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-Navlink-Color;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      transition: color 0.3s ease;

      &:hover {
        color: $navbar-Hover-Color;
      }
    }
  }
}

.layout {
  display: flex;
  padding-top: 5%;
  .left-panel {
    width: 35%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    .animation_text h1 {
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: $welcome-text;
      font-size: 30px;
      font-weight: 500;
    }
    .animation_text h1 span {
      color: $animation-text;
    }
    @media (max-width: 768px) {
      .animation_text h1 {
        font-size: 30px;
      }
    }
    .cursor {
      font-weight: bold;
      animation: blink 0.7s steps(1) infinite;
      color: inherit;
    }
  }

  .right-panel {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

    // Terminal Styles
    #terminal {
      background: $terminal-Background-Color;
      border-radius: $terminal-Border-Size;
      box-shadow: 0 0.5em 1em 1em rgba(0, 0, 0, 0.5);
      font-family: monaco, Consolas, Lucida Console, monospace;
      width: 85%;
      height: 30em;
      position: relative;
      overflow: hidden;

      transform: scale(1);
      transform-origin: top left;

      .terminal-header {
        background: $terminal-Header-Color;
        border-radius: $terminal-Border-Size $terminal-Border-Size 0 0;

        .terminal-header-buttons {
          display: flex;
          flex-direction: row;
          padding: 0.5em 1em;

          .terminal-button {
            width: $terminal-Button-Size;
            height: $terminal-Button-Size;
            border-radius: 1em;
            margin-right: 0.5em;

            &.close {
              background: $terminalClose;
              border: 1px solid $terminal-Close-Border-Color;
              position: relative;

              &:after {
                content: '';
                width: $terminal-Button-Size / 3;
                height: $terminal-Button-Size / 3;
                position: absolute;
                top: $terminal-Button-Size / 4;
                left: $terminal-Button-Size / 4;
                background: $terminal-Close-Border-Color;
                border-radius: 1em;
              }
            }

            &.minimise {
              background: $terminalMinimise;
              border: 1px solid $terminal-Minimise-Border-Color;
            }

            &.expand {
              background: $terminalExpand;
              border: 1px solid $terminal-Expand-Border-Color;
            }
          }
        }
      }

      .terminal-body {
        padding: 1em;
        padding-bottom: 3em;
        color: $terminalText;
        height: calc(100% - 3.5em);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        .terminal-info {
          color: $terminal-Text-info-Color;
          font-size: large;
          overflow-wrap: break-word;
          word-wrap: break-word;
          white-space: pre-wrap;
          overflow: hidden;
        }

        .has-text-weight-bold {
          color: lighten($terminalText, 10%);
        }

        .text-info {
          color: $terminal-Text-info-Color;
        }

        a {
          color: $primary-300;
          text-decoration: underline;
        }
      }

      .coder {
        color: $terminal-Coder-Color;
      }
      .va-lue {
        color: $terminal-Value-Color;
        word-wrap: break-word; // Uzun kelimelerin sarılması için
        white-space: pre-wrap; // Satır sonlarında kelimenin bölünmesini sağlar
      }
      .const {
        color: $terminal-Const-Color;
      }

      .field {
        color: $terminal-Field-Color;
      }

      .terminal-tmux-bar {
        background: $terminalBar;
        border-radius: 0 0 $terminal-Border-Size $terminal-Border-Size;
        display: flex;
        flex-direction: row;
        color: red;
        font-size: 0.8em;
        position: relative;
        .screen,
        .name {
          background: $terminal-tmux-screen-Name-Background-Color;
          color: $terminal-Screen-Name-Font-Color;
        }

        .battery {
          background: $terminal-Battery-Background-Color;
          color: $termianl-Battery-Font-Color;
        }

        .bar {
          flex-grow: 10;
          background-color: $terminal-Bar-Backgorund-Color;
          color: $termianl-Bar-Font-Color;
        }

        .screen,
        .name,
        .battery,
        .bar {
          padding: 0.3em;
        }

        .screen {
          border-bottom-left-radius: $terminal-Border-Size;
          padding-left: 1em;
        }

        .name {
          border-bottom-right-radius: $terminal-Border-Size;
          padding-right: 1em;
        }
      }

      .command-line {
        padding-bottom: 1em;
      }

      .terminal-control {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $terminalText;
        z-index: 10;

        .terminal-input {
          color: $terminal-Bar-Accents-Color;

          .field {
            .control.has-icons-left {
              position: relative;

              .icon.is-left {
                position: absolute;
                left: 0;
                top: 50%;
                padding-bottom: 1em;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
              }

              .input {
                background: $terminal-Background-Color;
                border: none;
                padding: 0 0 1em 3em;
                font-family: monaco, Consolas, Lucida Console, monospace;
                color: $terminalText;
                caret-color: transparent;
                width: 95%;

                &:hover,
                &:active,
                &:focus {
                  outline: none;
                  box-shadow: none;
                }

                &:focus {
                  & + .cursor {
                    display: inline-block;
                  }
                }
              }

              .cursor {
                display: none;
                background: $terminalText;
                width: 0.5em;
                height: 1.2em;
                animation: flash 1s infinite;
                position: absolute;
                top: 0.25em;
                left: 1em;
                -webkit-animation: flash 1s infinite;
              }
            }
          }
        }
      }
    }
  }
}
.about-section {
  background-color: $layout-Background-Color;
  padding: 50px 0;

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-around; // Better alignment between image and text
    padding: 20px;
    background-color: darken($layout-Background-Color, 5%);
    border-radius: 10px;
    gap: 20px;
    flex-wrap: wrap; // Allow elements to wrap on smaller screens
  }

  .about-image {
    flex: 0 1 300px; // Flexbox for responsiveness with a max width
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      border-radius: 30%;
      filter: grayscale(100%);
      object-fit: cover;
      transition: filter 0.5s ease;
      -webkit-border-radius: 30%;
      -moz-border-radius: 30%;
      -ms-border-radius: 30%;
      -o-border-radius: 30%;
    }

    img:hover {
      filter: grayscale(0%);
    }
  }

  .about-text {
    flex: 1; // Use available space flexibly
    color: $welcome-text;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; // Add padding to prevent squeezing
    max-width: 500px; // Max width for text container

    h2 {
      font-size: 2rem;
      color: $animation-text;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
}

// Skills Section Styling
.skills-section {
  padding: 50px 0;
  text-align: center;

  h2 {
    color: $animation-text;
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .skills-container {
    position: relative;
    width: 300px; /* Yeterli genişlik ayarla */
    height: 300px; /* Yeterli yükseklik ayarla */
    margin: 0 auto;
    perspective: 1000px; /* 3D perspektif */
  }

  .skills-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* 3D dönüşümü aktif et */
    animation: rotateX 10s linear infinite; /* Döndürme animasyonu */
  }

  .skill {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0;
    border-radius: 50%;
    background-color: lighten($terminal-Background-Color, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center; /* Dönme merkezi */
  }

  .skill:nth-child(1) {
    transform: rotateX(0deg) translateZ(150px); /* İlk eleman */
  }
  .skill:nth-child(2) {
    transform: rotateX(60deg) translateZ(150px); /* İkinci eleman */
  }
  .skill:nth-child(3) {
    transform: rotateX(120deg) translateZ(150px); /* Üçüncü eleman */
  }
  /* Daha fazla eleman eklemek için yukarıdaki kuralları devam ettir */
}

@keyframes rotateX {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

// Mobile responsiveness
@media (max-width: $tablet) {
  // Navbar custom background color for mobile
  .navbar-custom {
    background-color: $navbar-Background-Color;
  }

  // Layout adjustments for tablet view
  .layout {
    flex-direction: column;
    height: 100vh;

    .left-panel {
      width: 100%;
      background-color: $layout-Background-Color;
      padding: 20px;
    }

    .right-panel {
      padding: 20px;
      width: 100%;
      background-color: $layout-Background-Color;

      // Terminal styling for tablet
      #terminal {
        width: 100%;
        height: calc(100% - 3.5em);
        background: lighten($terminal-Background-Color, 2%);
        border-radius: $terminal-Border-Size;
        box-shadow: 0 0.5em 1em 1em rgba(0, 0, 0, 0.5);
        font-family: monaco, Consolas, Lucida Console, monospace;
        position: relative;

        .terminal-header {
          font-size: 0.9rem;
        }

        .terminal-body .terminal-info {
          padding-bottom: 2em;
          font-size: 0.9rem;
        }

        .terminal-tmux-bar {
          font-size: 0.7rem;
        }

        .terminal-control {
          .terminal-input {
            .input {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  .about-section {
    .about-image {
      max-width: 100px;
    }
    .about-text {
      max-width: 100%; // Ensure text uses full width
    }
  }
}

@media (max-width: $mobile) {
  // Layout adjustments for mobile view
  .layout {
    .right-panel {
      #terminal {
        .terminal-body {
          padding-bottom: 1.5em;
          font-size: 0.8rem;
        }

        .terminal-control {
          .terminal-input {
            .input {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
  .about-section {
    .about-container {
      flex-direction: column; // Stack elements vertically on mobile
    }

    .about-image {
      max-width: 150px; // Smaller size on mobile
    }

    .about-text {
      padding: 10px; // Adjust padding for smaller screens
    }
  }
}

// Dinamik renkleri CSS sınıflarına uygulama
@each $command, $color in $response-colors {
  .response-#{$command} {
    color: $color;
  }
}

// Blinking Cursor Animation
@keyframes flash {
  0% {
    opacity: 1;
  }

  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
